@tailwind base;
@tailwind components;
@tailwind utilities;

.track {
  position: absolute;
  white-space: nowrap;
  /* will-change: transform; */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  scrollbar-width: none;
}